<html>
  <body>
    <h1>Webhook Sender</h1>

    <h1>Name</h1>
    <input type="text" id="get_name"></input>

    <h1>Img URL</h1>
    <input type="text" id="get_image"></input>

    <h1>WebHook URL</h1>
    <input type="text" id="get_url"></input>

    <h1>Messege</h1>
    <input type="messege" id="messege"> </input>

    <h1>Fields</h1>
    <div id="field_list">
    </div>
    <button id="add Field">Add Field</button>

    <h1>Footer</h1>
    <input id="footer_input"></input>
    
    <h1>Send Messege</h1>
    <button id="send">send</button>
  </body>
  <script src="/js"></script>
</html>
